
<header >
  <div id="home" class=" home d-flex justify-content-center w-75">
    <div class="container ">
      <div class="d-flex my-5 justify-content-center">
        <div><i class="my-3 fa-solid fa-truck-fast mx-2"></i></div>
        <div>
          <h3 class="title">ROUND ROCK</h3>
          <h3 class="main-title">TRASH HAULING</h3>
        </div>

      </div>
      <button type="button" class="btn experts m-auto d-flex justify-content-center px-3 my-5">Experts</button>
      <p class="fw-lighter d-flex justify-content-center">Lorem</p>
      <p class="fw-bolder w-900 d-flex justify-content-center">Lorem lorem</p>
      <p class="d-flex justify-content-center w-25 m-auto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt inventore ea, ex voluptatum temporibus illum, culpa deserunt aperiam voluptatem magnam quae quibusdam explicabo necessitatibus itaque maiores exercitationem eligendi? Eum, ipsam.</p>
      <button type="button" class="btn btn-help m-auto d-flex rounded-pill justify-content-center rounded-pill py-2 px-5 my-5">Help Me</button>
    </div>
  </div>

</header>

<!-- about -->
<section id="about" class="about my-3">
  <div class="container pt-3">
    <h2 class="fw-900 text-white">About Us</h2>
    <p class="first-p mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
    <img class="pe-3" src="../assets/about/img3.png"  alt="">
  </div>

  <div class="trapezoid">
  </div>
  <div class="trapezoid-content text-end">
    <h2 class="fw-900 text-white text-end mb-3">Where</h2>
    <p class="secend-p  text-end"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
       standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
         essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <!-- <button type="button" class="btn bg-warning  rounded-pill py-2 px-5 my-5">Help Me</button> -->

  </div>
</section>
<!-- servives -->

<section id="services" class="services my-3">
  <div class="container">
   <h2 class="text-center"> Services</h2>
   <div class="row">
     <div class="col-md-4 my-3">
      <div class="card">
        <img src="../assets/services/img1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        </div>
      </div>
     </div>
     <div class="col-md-4 my-3">
      <div class="card">
        <img src="../assets/services/img2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        </div>
      </div>
     </div>
     <div class="col-md-4 my-3">
      <div class="card">
        <img src="../assets/services/img3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        </div>
      </div>
     </div>
   </div>
   <button type="button" class="btn btn-help m-auto d-flex rounded-pill justify-content-center rounded-pill py-2 px-5 my-5">Help Me</button>


  </div>

</section>
<!-- Testymonials -->
<section id="testymonials" class="testymonials my-3">
<div class="container">
  <h2 class="text-center"> Testymonials</h2>
  <div class="row my-5 px-3">
  <div class="col-md-6 testymonials-card p-3  my-3 d-flex ">
    <img src="../assets/Testymonials/img1.png" alt="">
    <div class="mx-2">
      <h4>Courtney Henry</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make
         a type specimen book
      </p>
      <ng-container>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      </ng-container>

    </div>
  </div>

  <div class="col-md-6 testymonials-card my-3 p-3 d-flex justify-content-around">
    <img src="../assets/Testymonials/img1.png" alt="">
    <div class="mx-2">
      <h4>Courtney Henry</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make
         a type specimen book
      </p>
      <ng-container>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      </ng-container>

    </div>
  </div>

  <div class="col-md-6 testymonials-card p-3 my-3 d-flex justify-content-around">
    <img src="../assets/Testymonials/img1.png" alt="">
    <div class="mx-2">
      <h4>Courtney Henry</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make
         a type specimen book
      </p>
      <ng-container>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      </ng-container>

    </div>
  </div>

  <div class="col-md-6 testymonials-card my-3 p-3 d-flex justify-content-around">
    <img src="../assets/Testymonials/img1.png" alt="">
    <div class="mx-2">
      <h4>Courtney Henry</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make
         a type specimen book
      </p>
      <ng-container>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      </ng-container>

    </div>
  </div>

  </div>
</div>
</section>
<!-- Contact Us -->
<section id="contact" class="contact">
  <div class="container">
    <h2 class="text-center"> Contact Us</h2>
    <form>
      <div class="d-flex my-5 py-3 justify-content-center ">
        <div class="form-input w-50">

          <div class="mb-3">
            <input type="text" placeholder="Name"  name="name" [(ngModel)]="contact.name" class="form-control rounded-pill  py-3" id="name">
          </div>

          <div class="mb-3">
            <input type="email"  placeholder="Email" name="email" [(ngModel)]="contact.email" class="form-control rounded-pill py-3" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="text" placeholder="Phone" name="phone" [(ngModel)]="contact.phone" class="form-control rounded-pill py-3" id="phone" required>
            <!-- <div *ngIf="!contact.phone" class="text-danger">
              {{'Required'}}
            </div> -->
          </div>


          <div class="d-flex justify-content-center my-3">
            <button type="submit" (click)="Send()" class="btn  rounded-pill py-3 px-5">Submit</button>
          </div>


        </div>
        <div class="form-contact">
          <div class="d-flex mt-5 mx-5">
            <i class="fa-solid me-4 mt-1 fa-envelope"></i>
           <span> upskilling.eg1@gmail.com</span>
          </div>

          <div class="d-flex mt-3 mx-5">
            <i class="fa-solid  me-4 mt-1 fa-phone"></i>
           <span> 010542145211</span>
          </div>

        </div>
      </div>


    </form>
  </div>
</section>
<footer>

</footer>
